anyio==3.4.0
asgiref==3.4.1
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
fastapi==0.70.1
filelock==3.4.2
h11==0.12.0
httptools==0.3.0
huggingface-hub==0.2.1
idna==3.3
joblib==1.1.0
numpy==1.22.0
packaging==21.3
pydantic==1.9.0
pyparsing==3.0.6
python-dotenv==0.19.2
python-multipart==0.0.5
PyYAML==6.0
regex==2021.11.10
requests==2.27.1
sacremoses==0.0.46
six==1.16.0
sniffio==1.2.0
starlette==0.16.0
tokenizers==0.10.3
torch==1.10.1
tqdm==4.62.3
transformers==4.15.0
typing_extensions==4.0.1
urllib3==1.26.7
uvicorn==0.16.0
uvloop==0.16.0
watchgod==0.7
websockets==10.1
